<fieldset class="form-group">
    <label for="institution_sel">Institution</label>
    <ui-select ng-init="populate_insts()" id="institution_sel" ng-model="ctrl.instsel" theme="bootstrap">
        <ui-select-match placeholder="Select institution">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="inst in where.insts | filter: $select.search">
            <span ng-bind-html="inst.name | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</fieldset>
<fieldset class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="adddepartment.name">
</fieldset>
<fieldset class="form-group">
    <label for="name">URI</label>
    <input type="text" class="form-control" id="uri" ng-model="adddepartment.uri">
</fieldset>
<button type="submit" class="btn btn-default" ng-click=doadddepartment()>Submit</button>
