<fieldset class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="addinstitution.name">
</fieldset>
<fieldset class="form-group">
    <label for="name">URI</label>
    <input type="text" class="form-control" id="uri" ng-model="addinstitution.uri">
</fieldset>
<fieldset class="form-group">
    <label for="name">Admin username</label>
    <input type="text" class="form-control" id="username" ng-model="addinstitution.username">
</fieldset>
<fieldset class="form-group">
    <label for="name">Admin password</label>
    <input type="password" class="form-control" id="password" ng-model="addinstitution.password">
</fieldset>
<button type="submit" class="btn btn-default" ng-click=doaddinstitution()>Submit</button>
