/* Make the masthead heading the same height as the navigation */
.page-header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.no-topics {
	text-align: center;
}

#search-results-wp {
	margin-top: 20px;
}

#search-results-nothing {
	text-align: center;
}

#custom-topic-suggestion {
	text-align: center;
}

.comment {
	color: #666666;
}

.unit-code {
	font-weight: bold;
}

.label {
    margin-right: 0.5em;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

[ui-sref] {
    cursor: pointer;
}

/* -- Topics table --------- */

.topics-table .glyphicon-check {
    color: green;
}

.topics-table .glyphicon-unchecked {
    color: gray;
}

.topics-table td {
    vertical-align: middle !important;
    position: relative;
}

.topics-table .name-column {
    text-align: left;
    width: 30%;
}

.topics-table .name-column a.custom_topic {
    font-style: italic;
}

.topics-table .context-column {
    text-align: left;
    width: 30%;
}

.topics-table .alias-column {
    text-align: left;
    width: 30%;
}

.topics-table .flag-column {
    text-align: center;
}

.topics-table .actions-column {
    text-align: center;
    white-space: nowrap;
}

.topic-row button.hiding {
    visibility: hidden;
}

.topic-row:hover button.hiding {
    visibility: visible;
}

.graph {
   position: relative;
}

.graph-small, .graph-small .graph {
   height: 40em;
}

svg text {
    text-rendering: optimizeSpeed;
}

svg g[id^=topic] g:nth-of-type(2) a:hover text {
	fill: LightGreen;
}

svg g a:hover {
	text-decoration: none;
}

svg g a:hover text {
	fill: LightGreen;
}


/* -- End of Topic table -- */

.editbuttons {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    float: right;
}

.list-group-item {
    overflow: auto;
}

.dropdown-menu { width: 100%; }


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
